<h>注册用户</h>
<form method='POST' action='/reg' >
	用户名:<input type='text' name='username' />
	密码:<input type='text' name='password' />
	请重复输入密码:<input type='text' name='password-repeat' />
	<input type='submit' name='submit' />
</form>